body {
  text-align: center;
  background-color: #b2ebf2;
}

h1 {
  font-size: 5rem;
  color: #dd2c00;
  font-family: "Arvo", cursive;
}

footer {
  color: #00bcd4;
  font-family: sans-serif;
}

.w {
  background-image: url(./images/tom1.png);
}

.a {
  background-image: url(./images/tom2.png);
}

.s {
  background-image: url(./images/tom3.png);
}

.d {
  background-image: url(./images/tom4.png);
}

.j {
  background-image: url(./images/snare.png);
}

.k {
  background-image: url(./images/crash.png);
}

.l {
  background-image: url(./images/kick.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  color: #df297e;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 0;
  font-size: 4rem;
  font-family: "Arvo", cursive;
  line-height: 1;
  font-weight: 900;
  color: #ff5722;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
